/* animations */

@keyframes rightToPlace {
  from {
    transform: translateX(2000px);
  }
  to {
    left: 0;
  }
}

@keyframes placeToLeft {
  from {
  }
  to {
    transform: translateX(-2000px);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fallAndBounce {
  0% {
    transform: translateY(-1000px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-200px);
  }
  75% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes placeToDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1000px);
  }
}

