.text {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  user-select: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  color: #333;
  cursor: pointer;
}

.text:hover {
  background-color: #f0f0f0;
}




