.lido-col {
  /* position: absolute; */
  top: var(--y, 0);
  left: var(--x, 0);
  height: var(--height, 100%);
  width: var(--width, 100%);
  background-color: var(--bgColor, #eeeeee);
  /* position: relative; */
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  max-width: var(--maxWidth, 100%);
  max-height: var(--maxHeight, 100%);
}

.lido-col > * {
  /* position: relative; */
}
