.lido-wrap {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(186px, auto));
}

.lido-wrap > * {
  padding: 10px;
  background-color: var(--child-bg-color, #f0f0f0);
  box-sizing: border-box;
}

.lido-flex {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
}
