.math-matrix {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.slot {
  width: 100%;
  height: 100%;
}

.slot:hover {
  /* background-color: rgba(0, 0, 0, 0.116); */
  opacity: 0.7;
}

.slot-parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slot-active {
  background-color: var(--active-bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slot-deactive {
  background-color: var(--deactive-bg-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.topIndex, .leftIndex, .bottomIndex {
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;
  font-size: 30px;
}
