#lidoCalculator {
  border-radius: 19px;
  border: 5px solid #029A9A;
  position: relative;  
  display: flex;
  flex-direction: column;
  padding: 2%;
  box-sizing: border-box;         
}
.btn-special{
  background-color:#014D4D !important;
  --btn-shadow-color: #0a2f2f !important;
}

.btn-default {
  background-color: #029A9A !important;
  color: #000;
  --btn-shadow-color: #0f4242 !important ; 
}

.display-wrapper {
  position: relative;
  flex: 0 0 15%; 
  margin-bottom: 2%;
}

.top-section-column {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  gap: 10px;               
  flex: 0 0 auto;
  margin-bottom: 10px;
}

#lido-penIcon {
  --btn-bg-color: #FB7038 !important;   
  --btn-shadow-px: 0 8px 0 !important;  
  --btn-shadow-color: #D74B12 !important; 
  border-radius: 5px !important;
}

.top-right-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  z-index: 10; 
}
.displayParent{
  width: 89%;
  height: 107px;
  background-color: rgb(68, 186, 186);;
  border-radius: 5px;
  margin: 14px auto 17px auto; 
  overflow: hidden;
  display: flex;
  align-items: end;
}

.display {
  width: 97%;
  height: 94px;
  background: #029A9A;
  color: #fff;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 72px;
  font-weight: 700;
  font-family: 'Baloo Bhai 2', serif;
  border-radius: 5px 0px 0px 5px;
  box-sizing: border-box;
  margin: 0 0px -6px auto;
}

.buttons {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;  
  gap: 0%;
  width: 100%;
  justify-items: center; 
  align-items: center; 
  position: relative;
  top: -1%;   
}
.buttons lido-text {
  display: flex !important;                
  justify-content: center;     
  align-items: center;          
  width: 96px !important;                  
  height: 80px !important;                 
  font-size: 72px !important;             
  font-weight: 700 !important;
  color: #fff;
  border-radius: 5px !important;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  box-sizing: border-box;
  transition: transform 0.1s;
}
.buttons lido-text:active {
  transform: scale(0.95);
}
