.lido-shape {
  position: absolute;
  top: var(--y);
  left: var(--x);
  display: var(--display);
  z-index: var(--z);
}

.lido-rectangle {
  border-radius: 0;
}

.lido-circle {
  width: var(--width); /* Ensures width is always used for both dimensions */
  height: var(--width); /* Make height equal to width for a perfect circle */
  border-radius: 50%; /* 50% border-radius for a perfect circle */
  background-color: var(--bgColor);
}

.lido-ellipse {
  width: var(--width);
  height: var(--height);
  border-radius: 50%; /* Create an ellipse shape */
  background-color: var(--bgColor);
}

/* other shapes */

.lido-triangle {
  width: var(--triangleWidth);
  height: var(--triangleHeight);
  background-color: var(--bgColor);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.lido-rightTriangle {
  width: var(--triangleWidth);
  height: var(--triangleHeight);
  background-color: var(--bgColor);
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

.lido-leftTriangle {
  width: var(--triangleWidth);
  height: var(--triangleHeight);
  background-color: var(--triangleBgColor);
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}

.lido-parallelogram {
  width: var(--paralleWidth);
  height: var(--paralleHeight);
  transform: skew(20deg);
}

.lido-star {
  width: var(--starWidth);
  height: var(--starHeight);
  background-color: var(--starBgColor);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.lido-pentagon {
  width: var(--pentagonWidth);
  height: var(--pentagonHeight);
  background-color: var(--pentagonBgColor);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.lido-heptagon {
  width: var(--heptagonWidth);
  height: var(--heptagonHeight);
  background-color: var(--heptagonBgColor);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.lido-octagon {
  width: var(--octagonWidth);
  height: var(--octagonHeight);
  background-color: var(--octagonBgColor);
  clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0% 75%, 0% 25%);
}

.lido-rhombus {
  width: var(--rhombusWidth);
  height: var(--rhombusHeight);
  background-color: var(--rhombusBgColor);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.lido-heart {
  height: var(--heartHeight);
  width: var(--heartWidth);
  border-image: radial-gradient(var(--heartBgColor) 69%, #0000 70%) 84.5%/50%;
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}
