.lido-snackbar {
  visibility: visible;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 17px;
}

.lido-dot-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 1;
  top: 6.5%;
  left: 50%;
  visibility: hidden;
}

.lido-dot {
  height: 18px;
  width: 18px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
  cursor: pointer;
  z-index: 1;
  /* visibility: hidden; */
}
.lido-btn-dot-container{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.lido-dot.completed {
  background-color: grey;
}

.lido-dot.current {
  background-color: green;
}

.lido-dot:not(.completed):not(.current) {
  background-color: #bbb;
}

#lido-arrow-left,
#lido-arrow-right {
  width: 88px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 12px 0px 12px; 
  border-radius: 12px;
  z-index: 1000;
  box-shadow: 0px 8px 0px 0px #8B310F;
  background-color: #F34D08;
  cursor: pointer;
  visibility: hidden;
  
}

#lido-arrow-left:active,
#lido-arrow-right:active{
 transform: translateY(8px);
  box-shadow: 0px 0px 0px 0px;
}
.navbar {
  display: flex;
  justify-content: center;
}

.lido-exit-button,#main-audio {
  width: 80px;
  height: 80px;
  z-index: 1000;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #F34D08;
  border-radius: 16px;
  box-shadow: 0px 8px #F34D08;
}
#main-audio:active,.lido-exit-button:active,.cancel-btn:active,.yes-btn:active {
  transform: translateY(8px);
  box-shadow: 0px 0px 0px 0px !important;
}

.lido-alert-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}


.lido-alert-parent{
  z-index: 10000 !important;
  position: absolute;
  top: 0;
  left: 0;
}

.question-text{
   white-space: nowrap;
   font-size: 22px;
   font-weight: 600;
   font-family: 'Baloo Bhai 2';
   color: #182A4F;
   font-style: normal;
}

.btn-cell{
  margin-top: -8%;
}

.cancel-btn{
  border-radius: 16px;
  width: 240px;
  height: 105px;
  margin-right: 50px;
  font-weight: 700;
  font-style: normal;
  font-family: Baloo Bhai 2;
  border: 4px solid #F34D08;
  box-shadow: 0px 2px #F34D08;
  color: #F34D08;
  
}


.yes-btn{
  border: 4px solid #F34D08;
  background-color: #F34D08;
  border: 4px solid #F34D08;
  white-space: nowrap;
  font-weight: 600;
  font-family: Baloo Bhai 2;
  font-size: 18px;
  color:white;
  box-shadow: 0px 5px #8B310F;
}