.lido-snackbar {
  visibility: visible;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 17px;
}

.lido-dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* position: fixed; */
  z-index: 1;
  width: fit-content;
  top: 3%;
  left: 50%;
  /* transform: translate(-50%); */
}

.lido-dot {
  height: 18px;
  width: 18px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
  cursor: pointer;
}

.lido-dot.completed {
  background-color: grey;
}

.lido-dot.current {
  background-color: green;
}

.lido-dot:not(.completed):not(.current) {
  background-color: #bbb;
}
.lido-arrow {
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 0 30px 0px 30px;
}
.navbar{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top:15px;

}