.lido-float {
  position: relative;
}

.lido-float > * {
  position: absolute;
  cursor: pointer;
}

@keyframes float-up {
    from {
        top: var(--el-top);
    }
    to {
        top: -400px;
    }
}
