.lido-float {
  position: relative;
}

.lido-float > * {
  position: absolute;
  cursor: pointer;
}

@keyframes float-up {
  from {
    top: var(--el-top);
  }
  to {
    top: -500px;
  }
}

#removeShadow {
  box-shadow: unset !important;
}

@keyframes float-lr {
  from {
    right: var(--el-left);
  }
  to {
    right: -500px;
  }
}
