.lido-keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.input-area {
  display: flex;
  gap: 15px;
}

input[type="text"] {
  font-size: 30px;
  font-weight: 600;
  padding-left: 20px;
  width: 400px;
  height: 70px;
  border: 2px solid;
  background: #8080803b;
  border-radius: 20px;
}

.keyboard-wrapper {
  justify-content: center;
  width: 700px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.key-button {
  background: aquamarine;
  font-weight: 600;
}
