:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lido-pad {
  
  background:red;
  border: 2px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
button {
  padding: 6px 14px;
  border: none;
  background:transparent;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  position: relative;
   top: -44%;   
  left: 16%;   
  z-index: 10;
}
#lido-img1{
  height:50px;
  width: 60px;
}
canvas {
  /* flex: 1; */
  touch-action: none;
  display: block;
}
