:host {
  box-sizing: border-box;
}

.lido-canvas {
  background: transparent;
  border: none;
  border-radius: 0;
  overflow: hidden;
  box-sizing: border-box;
}
#lido-exit-button {
  padding: 6px 14px;
  border: none;
  background:transparent;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 15;
}

canvas {
  /* flex: 1; */
  touch-action: none;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
}
