@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
body {
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.lido-disable-check-button {
  pointer-events: none;
  background-color: #9393935c !important;
  color: white;
}

.lido-element-selected{
  border: 2px solid;
  background-color: #ffdf7d !important;
}

.diagonal-target,
.diagonal-drop lido-image {
  transform: scale(0.7) !important;
  opacity: 1 !important;
}

.cloned-element {
  display: flex !important;
  position: absolute !important;
  filter: grayscale(100%);
  pointer-events: none;
}

.removeShadow {
  box-shadow:0px 0px 0px 0px #FF8900 !important; 
}

lido-col[animation='clickable'] {
  box-shadow: 0px 40px 0px 0px #FF8900;
}

lido-row[gap='80px'] {
  gap: 80px !important;
}

lido-text[custom='white'] {
  background: transparent !important;
}